:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000;
}

body {
    font-family: var(--primary-font-family);
}

/* =============== COMPONENTS =============== */
.modal-btn {
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
}

.modal-btn:hover,
.modal-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.link:hover,
.link:focus {
    color: var(--accent-color);

}

/* =============== /COMPONENTS =============== */


.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;

}

.accent {
    color: #000;
}

.menu-link {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
}

.pros-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}

.pros-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-gallery-title {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-gallery-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.address-text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
}

.contact-link {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;

    /* color: rgba(255, 255, 255, 0.6); */
}

a[href^="tel"] {
    color: inherit;
    text-decoration: none;
}

.link-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.pic-list-title {
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.pic-list-text {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.link-list-btn {
    color: #212121;
    background: #F5F4FA;
    border-radius: 4px;
}

.link-list-btn:hover {
    background-color: var(--accent-color);
    color: #ffffff;
}

.link-list-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
}

.link-list-btn,
.modal-btn {
    cursor: pointer;
}