:root {
    --primary-font-family: 'Roboto', sans-serif;
    --secondary-font-family: 'Raleway', sans-serif;
    --accent-color: #2196F3;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;

    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

ul,
ol {
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

img {
    display: block;
}

.list {
    list-style: none;
}

.link {
    text-decoration: none;
    color: #000;

}

body {
    font-family: var(--primary-font-family);
}



.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* =============== COMPONENTS =============== */

.modal-btn {
    display: inline-block;
    background: #2196F3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    align-items: center;
    text-align: center;
    letter-spacing: 0.06em;
    color: #FFFFFF;
    border: none;
    padding: 10px 32px;
    transition-property: color, background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}




.modal-btn:hover,
.modal-btn:focus {
    background-color: #188CE8;
    color: #ffffff;
}

.link:hover,
.link:focus {
    color: var(--accent-color);

}

.contact-nav:hover .icon-img {
    fill: var(--accent-color);

}

.icon-img {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    fill: #757575;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.current-link {
    color: var(--accent-color);
}

.current-link::before {
    position: absolute;
    bottom: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    height: 4px;
    background: #2196F3;
    border-radius: 2px;
    content: '';
}


.link-list-btn {
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link-list-btn:hover,
.link-list-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.pic-list-link:hover,
.pic-list-link:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}


.link-list-btn,
.modal-btn {
    cursor: pointer;
}


/* =============== /COMPONENTS =============== */


.header-container {
    display: flex;
    align-items: center;
}

.navigation {
    display: flex;
    align-items: center;
}

.menu {
    display: flex;
}

.logo {
    margin-right: 93px;
}

.menu-item:not(:last-child) {
    margin-right: 50px;
}

.header-list {
    display: flex;
    margin-left: auto;
}

.email,
.tel-link {
    display: flex;
    justify-content: center;
    align-items: center;
}



.page-header {
    border-bottom: 1px solid #ECECEC;
}

.hero {
    margin: auto;
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url('../images/bgimg.png');
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
    text-align: center;
}

.ico-wrapper {
    text-align: center;
    margin-bottom: 30px;
    background-color: #F5F4FA;
    border-radius: 4px;
    display: flex;
    width: 270px;
    height: 120px;
    justify-content: center;
    align-items: center;
}

.icon-img-antenna {
    display: flex;

}

.hero-title {
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: #FFFFFF;
    margin: 0 auto 30px;
    max-width: 696px;
}


.pros-list {
    display: flex;

}


.pros-item:not(:last-child) {
    margin-right: 30px;
}

.team-item:not(:last-child) {
    margin-right: 30px;
}


.pros-title {
    margin-bottom: 10px;
}

.pros-text {
    text-align: left;
    min-width: 270px;
}

.logo {
    font-family: var(--secondary-font-family);
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: #2196F3;
}

.navigation .accent {
    color: #000;
}

.footer .accent {
    color: #FFF;
}

.menu-link {
    position: relative;
    display: block;
    padding-top: 32px;
    padding-bottom: 32px;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
}

.hero,
.footer {
    background-color: #2F303A;
}

.team {
    background-color: #F5F4FA;
    ;
}


.pros-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #212121;

}

.pros-text {
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #757575;
}

.about {
    padding-bottom: 94px;
}

.pros {
    padding-bottom: 94px;
    padding-top: 94px;
}


.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
    margin-bottom: 50px;
}


.about-gallery {
    display: flex;

}

.about-list-item {
    position: relative;
}



.about-list-item:not(:last-child) {
    margin-right: 30px;
}


.team {
    text-align: center;
    padding-top: 94px;
    padding-bottom: 94px;
}

.team-tile {
    margin-bottom: 50px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-gallery {
    display: flex;
    justify-content: center;
    align-items: center;
}


.team-item {
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

.team-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;

}

.team-wrapper {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

}

.team-gallery-title {

    margin-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.team-gallery-wrapper {
    border: 1px solid #ccc;
}

.team-gallery-text {
    margin-bottom: 16px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.18;
    text-align: center;
    letter-spacing: 0.03em;
    color: #757575;
}

.footer {
    padding-top: 60px;
    padding-bottom: 60px;
}

.adress-wrapper {
    margin-left: 0px;
    margin-top: 20px;
}


.address-text {
    margin-bottom: 9px;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFF;
}

.email {
    margin-right: 50px;
}

.contact-nav {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #757575;

}

.tel-link {
    margin-right: 0px;
}


.contact-link {

    display: block;
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.footer-link {
    margin-bottom: 0px;
    margin-top: 9px;
}

.con-f {
    display: flex;
    align-items: baseline;
}


.soc-link-footer {
    margin-left: 70px;
    margin-right: 93px;
}

.footer-list,
.team-social-list {
    display: flex;
    justify-content: center;
}

.footer-list-item:not(:last-child) {
    margin-right: 10px;
}


.team-social-list-item:not(:last-child) {
    margin-right: 10px;
}

.social-link-our {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: #FFF;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-img-footer {
    fill: #FFF;
}

.icon-img-our,
.icon-regular-cl {
    fill: #AFB1B8;
    transition-property: fill;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.social-link-our:hover,
.social-link-our:focus {
    background-color: var(--accent-color);
    fill: #FFF;
}

.social-link-our:hover .icon-img-our,
.social-link-our:focus .icon-img-our {
    fill: #FFF;
}

.social-link:hover,
.social-link:focus {
    background-color: var(--accent-color);

}


.regular-client-title {
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 50px;
    line-height: 42px;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.regular-client-list {
    display: flex;
    justify-content: space-between;
}


.regular-client-list-item:not(:last-child) {
    margin-right: 30px;
}

.regular-client-link {
    display: flex;
    justify-content: center;
    align-items: center;
}

.regular-client {
    padding-top: 94px;
    padding-bottom: 94px;
}

.regular-client-link {
    width: 170px;
    height: 92px;
    border: 1px solid #AFB1B8;
    border-radius: 4px;
    transition-property: color;
    transition-property: border;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}



.regular-client-link:hover,
.regular-client-link:focus {
    border: 1px solid var(--accent-color);
    border-radius: 4px;
}

.regular-client-link:hover .icon-regular-cl,
.regular-client-link:focus .icon-regular-cl {
    fill: var(--accent-color);
}





.footer-title {
    margin-bottom: 20px;
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;

}

.footer-title {

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}


.link-list:not(:last-child) {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pic-list-list {
    display: flex;
    flex-wrap: wrap;
}

.list-link-wrapper {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-right: 1px solid #EEEEEE;
    border-left: 1px solid #EEEEEE;
    border-bottom: 1px solid #EEEEEE
}

.links {
    padding-bottom: 94px;
    padding-top: 94px;

}

.pic-list-item:not(:nth-child(3n)) {
    margin-right: 30px;

}

.pic-list-item:not(:nth-last-child(-n+3)) {
    margin-bottom: 30px;
}

.pic-list-item {
    flex-basis: calc((100%-90px)/4);
}

.link-list-item:not(:last-child) {
    margin-right: 8px;
}

.link-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.pic-list-link {
    display: block;
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.some-wrapper {
    position: relative;
    width: 370px;
    height: 294px;
    overflow: hidden;
}

.pic-appear {
    position: absolute;
    visibility: hidden;
    overflow: hidden;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px 63px 24px;
    background: rgba(33, 150, 243, 0.9);
    transform: translate(0, 100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pic-list-link:hover .pic-appear {
    visibility: visible;
    transform: translate(0, 0);

}

.pic-appear-text {
    font-weight: 400;
    font-size: 18px;
    line-height: 28px;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.pic-list-title {

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.pic-list-text {
    margin-top: 4px;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.03em;
    color: #757575;
}

.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    transition: opacity 450ms linear, visibility 450ms linear;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 528px;
    height: 580px;
    padding: 40px;
    background: #FFFFFF;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
}

.modal-close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30px;
    height: 30px;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    background-color: transparent;
    cursor: pointer;
    padding: 6px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover .modal-close-btn-icon,
.modal-close-btn:focus .modal-close-btn-icon {
    fill: var(--accent-color);
  }  

.backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
}

.about-text-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 370px;
    height: 70px;
    bottom: 0;
    left: 0;
    background: rgba(47, 48, 58, 0.8);
}

.about-wrapped-text {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
}

.form-title {
    display: block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;

}

.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field {
    position: relative;
    margin-bottom: 10px;
}

.contact-form-input:focus {
    border-color: var(--accent-color);
}



.contact-form-input:focus+.contact-form-icon {
    fill: var(--accent-color);
}


.contact-form-field-span {
    position: relative; 
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.contact-form-icon {
    position: absolute;
    top: 65%;
    transform: translatey(-50%);
    left: 12px;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
    width: 100%;
    height: 120px;
    margin-top: 6px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.contact-form-checkbox-link {
    color: var(--accent-color);
    font-size: inherit;
}

.contact-form-checkbox {
    top: 85%;
    left: 70px;
}

.contact-form-checkbox-label::before {
    content: "";
    cursor: pointer;
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-color: #ffffff;
    margin-right: 8.4px;

}

.contact-form-checkbox:checked+.contact-form-checkbox-label::before {
    background-color: var(--accent-color);
    background-image: url(../images/svg/galka.svg);
    background-size: contain;
    background-origin: border-box;
    border: 1px solid var(--accent-color);
}

.contact-form-checkbox:focus+.contact-form-checkbox-label::before {
    border: 2px solid var(--accent-color);
}

.contact-form-btn {
    min-width: 200px;
    height: 50px;
    background: var(--accent-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form-title {
    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #FFFFFF;
    display: inline-block;
    margin-bottom: 20px;
}


.subscription-form {
    position: relative;
    display: flex;
}

.subscription-form-input {
    width: 358px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 4px;
    background-color: transparent;
    margin-right: 12px;
    padding-left: 16px;
    padding-right: 16px;
    color: #ffffff;

    outline: 0;
    outline-offset: 0;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-btn {
    background: var(--accent-color);
    border: 1px solid var(--accent-color);
    border-radius: 4px;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #ffffff;
    display: flex;
    align-items: center;
    text-align: center;
    padding-left: 29px;
    padding-right: 28px;
    cursor: pointer;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.subscription-form-btn:hover,
.subscription-form-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.subscription-form-btn-icon {
    width: 24px;
    height: 24px;
    margin-left: 10px;
    fill: #ffffff;
}