.links {
    padding-bottom: 94px;
    padding-top: 94px;

}

.link-list-btn {
    padding: 6px 22px 6px 22px;
    background: #F5F4FA;
    border-radius: 4px;
    border: none;
    transition-property: color, background-color, box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.link-list-btn:hover,
.link-list-btn:focus {
    background-color: var(--accent-color);
    color: #ffffff;
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);

}

.link-list-btn {
    cursor: pointer;
}

.link-list-item:not(:last-child) {
    margin-right: 8px;
}

.link-list-item {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;
    color: #212121;
}

.link-list:not(:last-child) {
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}


