.pros {
  padding-bottom: 60px;
  padding-top: 60px;
}

.pros-item {
  max-width: 450px;
}

.pros-item:not(:last-child) {
  margin-bottom: 30px;
}

.icon-img-antenna {
  width: 70px;
  height: 70px;
}

.pros-title {
  margin-bottom: 10px;
}

.ico-wrapper {
  width: 100%;
  height: 120px;
  text-align: center;
  margin-bottom: 30px;
  background-color: #f5f4fa;
  border-radius: 4px;
  height: 120px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.pros-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #212121;
  text-align: center;
}

.pros-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #757575;
  text-align: left;
  // min-width: 270px;
}

@media screen and (min-width: 768px) {
  .pros-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: -15px;
  }

  .pros-item {
    max-width: 354px;
    margin: 15px;
  }
}

@media screen and (min-width: 1200px) {
  .pros-item:not(:last-child) {
    margin-right: 30px;
  }
  .pros {
    padding-bottom: 94px;
    padding-top: 94px;
  }

  .pros-list {
    flex-wrap: nowrap;
    justify-content: center;
    margin: 0;
  }
}
