
.contact-form {
    display: flex;
    flex-direction: column;
}

.contact-form-input {
    width: 100%;
    height: 40px;
    padding-left: 42px;
    border-radius: 4px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-field {
    position: relative;
    margin-bottom: 10px;
}

.contact-form-input:focus {
    border-color: var(--accent-color);
}



.contact-form-input:focus+.contact-form-icon {
    fill: var(--accent-color);
}


.contact-form-field-span {
    position: relative; 
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.01em;
    color: #757575;
}

.contact-form-icon {
    position: absolute;
    top: 65%;
    transform: translatey(-50%);
    left: 12px;
    width: 18px;
    height: 18px;
    fill: #212121;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message {
    width: 100%;
    height: 120px;
    margin-top: 6px;
    border-radius: 4px;
    outline: none;
    border: 1px solid rgba(33, 33, 33, 0.2);
    resize: none;
    padding: 12px 16px;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-message:focus {
    outline: none;
    border-color: var(--accent-color);
}

.contact-form-checkbox-label {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    line-height: 1.7;
    letter-spacing: 0.03em;
    margin-bottom: 30px;
}

.contact-form-checkbox-link {
    color: var(--accent-color);
    font-size: inherit;
}

.contact-form-checkbox {
    top: 85%;
    left: 70px;
}

.contact-form-checkbox-label::before {
    content: "";
    cursor: pointer;
    display: block;
    width: 16px;
    height: 15px;
    border: 2px solid #212121;
    border-radius: 2px;
    background-color: #ffffff;
    margin-right: 8.4px;

}

.contact-form-checkbox:checked+.contact-form-checkbox-label::before {
    background-color: var(--accent-color);
    background-image: url(../images/svg/galka.svg);
    background-size: contain;
    background-origin: border-box;
    border: 1px solid var(--accent-color);
}

.contact-form-checkbox:focus+.contact-form-checkbox-label::before {
    border: 2px solid var(--accent-color);
}

.contact-form-btn {
    min-width: 200px;
    height: 50px;
    background: var(--accent-color);
    border-radius: 4px;
    border: 1px solid var(--accent-color);
    font-weight: 700;
    font-size: 16px;
    line-height: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    align-self: center;
    letter-spacing: 0.06em;
    color: #ffffff;
    cursor: pointer;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-form-btn:hover,
.contact-form-btn:focus {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}